.nav-container {
  width: 100%;
  background: var(--nav-bg);
  padding: 6px 10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color2);
  position: sticky;
  top: 0;
  z-index: 200;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: var(--highlight-color);
  text-decoration: none;
}

/* Toggler button */
.nav-toggle {
  border: none;
  font-size: 24px;
  color: var(--nav-text);
  background: var(--nav-bg);
  cursor: pointer;
  display: none; /* hide on desktop */
}

.nav-menu {
  display: flex;
  margin: 3px;
  font-size: small;
  list-style: none;
  gap: 10px;
  justify-content: start;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: smaller;
  gap: 8px;
  padding: 6px 10px;
  color: var(--nav-text);
  text-decoration: none;
  background-color: var(--card-bg);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: var(--btn-text);
  text-decoration: none;
}

.nav-item.active {
  background-color: var(--btn-bg);
  color: var(--btn-textw);
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
    gap: 6px;
  }

  .nav-menu.open {
    display: flex;
  }
}
