.nav-container {
  width: 100%;
  background: #000;
  padding: 6px 10px;
  border-bottom: 1px dashed #0f0;
  position: sticky;
  top: 0;
  z-index: 200;
}

/* Header: Logo + Toggler */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: #10b981;

  text-decoration: none;
}

/* Toggler button */
.nav-toggle {
border: none;
  font-size: 24px;
  color: #10b981;
  background: black;
  border: none;
  cursor: pointer;
  display: none; /* hide on desktop */
}

.nav-menu {
  display: flex;
  margin: 3px;
  font-size: small;
  list-style: none;
  gap: 10px;
  justify-content: center;
  ;
}


.nav-item {
  display: flex;
  align-items: center;
  font-size: smaller;
  gap: 8px;
  padding: 8px 12px;
  border: 1px dashed #0f0;
  padding: 6px 10px;
  color: #e0e0e0;
  text-decoration: none;
  background-color: rgb(15, 15, 15);
  border-radius: 4px;

  transition: all 0.3s ease;
}

.nav-item:hover {
  background-color: #000000;
  color: #000;
}

.nav-item.active {
  background-color: #10b981;
  color: #000;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-toggle {
    display: block; /* show toggler button */
    cursor: pointer;
  }

  .nav-menu {
    display: none;      /* hide menu by default */
    flex-direction: column; /* stack items vertically */
    list-style: none;
    margin-top: 10px;
    gap: 6px;
  }

  .nav-menu.open {
    display: flex;      /* show menu when toggler clicked */
  }
}

